:root {
    /*next模板提供的颜色*/
    --body-bg-color: #f5f7f9;
    --content-bg-color: #fff;
    --card-bg-color: #f5f5f5;
    --text-color: #555;
    --blockquote-color: #666;
    --link-color: #555;
    --link-hover-color: #222;
    --brand-color: #fff;
    --brand-hover-color: #fff;
    --table-row-odd-bg-color: #f9f9f9;
    --table-row-hover-bg-color: #f5f5f5;
    --menu-item-bg-color: #f5f5f5;
    --btn-default-bg: #fff;
    --btn-default-color: #555;
    --btn-default-border-color: #555;
    --btn-default-hover-bg: #222;
    --btn-default-hover-color: #fff;
    --btn-default-hover-border-color: #222;
    /*自定义颜色*/
    --main-link-color: #c7254e;
    --main-link-color-deep: #e9003b;
}

/*====================================================
滚动条样式修改
====================================================*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #c6e3e9;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #c6e3e9;
}

/* #TableOfContents .li>a { */
/*     border-bottom-color: var(--main-link-color-deep); */
/*     color: var(--main-link-color-deep); */
/* } */
/**/
/* #TableOfContents li a:hover { */
/*     border-bottom-color: var(--main-link-color-deep); */
/*     color: var(--main-link-color-deep); */
/* } */

.admonitionblock .content {
    color: var(--content)!important;
    padding-left: 1.125em!important;
    padding-right: 1.25em!important;
}

.post-content pre code:has(i) {
    display: inline-block;
}

.quoteblock .title {
    color: var(--content)!important; 
}

.quoteblock .attribution {
    margin-top: -1rem;
    margin-bottom: 1.0rem;
    text-align: right;
    font-size: 1rem;
    font-style: italic;
}

.paragraph .title,.quoteblock .title {
    color: var(--content)!important;
    font-weight: bold;
    font-style: normal;
}

.imageblock .title {
    font-size: 0.875rem;
    color: var(--content)!important;
    text-align: left;
    margin-bottom: 1.5rem;
}

.imageblock:has(.title) img {
    margin-bottom: 0;
}